.TaskItem {
  word-wrap: break-word;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid var(--gray-400, #333);
  background: var(--gray-500, #262626);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);

  margin: 0;
  flex: 1 0 0;

  color: var(--gray-100, #f2f2f2);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.checkbox_none {
  -webkit-appearance: none;
  appearance: none;
}

.checkbox {
  position: absolute;
  margin-left: -36px;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.9643 4.85958C13.3765 4.85958 14.7571 5.27836 15.9313 6.06297C17.1056 6.84757 18.0208 7.96277 18.5612 9.26752C19.1017 10.5723 19.2431 12.008 18.9676 13.3931C18.6921 14.7782 18.012 16.0505 17.0134 17.0492C16.0148 18.0478 14.7424 18.7278 13.3573 19.0034C11.9722 19.2789 10.5365 19.1375 9.23173 18.597C7.92697 18.0566 6.81178 17.1414 6.02717 15.9671C5.24257 14.7929 4.82378 13.4123 4.82378 12.0001C4.8311 10.1085 5.58574 8.29658 6.92326 6.95906C8.26079 5.62154 10.0728 4.86689 11.9643 4.85958ZM11.9643 3.2728C10.2397 3.27986 8.55592 3.79769 7.12543 4.76093C5.69494 5.72418 4.58191 7.08964 3.92683 8.68495C3.27176 10.2803 3.10401 12.0339 3.44478 13.7245C3.78554 15.415 4.61954 16.9667 5.84148 18.1837C7.06342 19.4007 8.61852 20.2283 10.3105 20.5622C12.0024 20.896 13.7553 20.7211 15.348 20.0595C16.9406 19.398 18.3015 18.2794 19.2589 16.845C20.2163 15.4105 20.7272 13.7246 20.7273 12.0001C20.7273 10.851 20.5003 9.7132 20.0595 8.65202C19.6187 7.59085 18.9727 6.62717 18.1585 5.8163C17.3443 5.00543 16.378 4.36333 15.315 3.92685C14.2521 3.49037 13.1134 3.2681 11.9643 3.2728Z' fill='%234EA8DE'/%3E%3C/svg%3E%0A");
}

.label {
  word-wrap: break-word;
  display: flex;
  padding-left: 36px;
}

.checkbox_none:checked + .checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.9'%3E%3Cpath d='M11.9801 19.4262C16.0726 19.4262 19.3903 16.1085 19.3903 12.0159C19.3903 7.92336 16.0726 4.60568 11.9801 4.60568C7.8875 4.60568 4.56982 7.92336 4.56982 12.0159C4.56982 16.1085 7.8875 19.4262 11.9801 19.4262Z' fill='%235E60CE'/%3E%3Cpath d='M11.9643 4.85957C13.3765 4.85957 14.7571 5.27835 15.9313 6.06296C17.1056 6.84757 18.0208 7.96276 18.5612 9.26752C19.1017 10.5723 19.2431 12.008 18.9676 13.3931C18.6921 14.7782 18.012 16.0505 17.0134 17.0492C16.0148 18.0478 14.7424 18.7278 13.3573 19.0034C11.9722 19.2789 10.5365 19.1375 9.23173 18.597C7.92697 18.0566 6.81178 17.1414 6.02717 15.9671C5.24257 14.7929 4.82378 13.4123 4.82378 12.0001C4.8311 10.1085 5.58574 8.29657 6.92326 6.95905C8.26079 5.62153 10.0728 4.86688 11.9643 4.85957ZM11.9643 3.27279C10.2397 3.27985 8.55592 3.79768 7.12543 4.76093C5.69494 5.72417 4.58191 7.08964 3.92683 8.68495C3.27176 10.2803 3.10401 12.0339 3.44478 13.7245C3.78554 15.415 4.61954 16.9667 5.84148 18.1837C7.06342 19.4006 8.61852 20.2283 10.3105 20.5622C12.0024 20.896 13.7553 20.7211 15.348 20.0595C16.9406 19.398 18.3015 18.2794 19.2589 16.8449C20.2163 15.4105 20.7272 13.7246 20.7273 12.0001C20.7273 10.851 20.5003 9.71319 20.0595 8.65202C19.6187 7.59084 18.9727 6.62716 18.1585 5.81629C17.3443 5.00542 16.378 4.36332 15.315 3.92684C14.2521 3.49036 13.1134 3.26809 11.9643 3.27279Z' fill='%235E60CE'/%3E%3Cpath d='M15.4306 9.34212L11.0986 13.6741L8.61618 11.1916L7.78027 12.0275L11.0986 15.3459L16.2665 10.178L15.4306 9.34212Z' fill='%23F2F2F2'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.checkbox:checked + .taskText {
  color: var(--gray-300, #808080);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  text-decoration-line: strikethrough;
}

.pencil_icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 14 14' fill='none'%3E%3Cg clip-path='url(%23clip0_1552_21541)'%3E%3Cpath d='M5 12.24L0.5 13.5L1.76 9.00002L10 0.800021C10.0931 0.704775 10.2044 0.629096 10.3271 0.577429C10.4499 0.525761 10.5818 0.499146 10.715 0.499146C10.8482 0.499146 10.9801 0.525761 11.1029 0.577429C11.2256 0.629096 11.3369 0.704775 11.43 0.800021L13.2 2.58002C13.2937 2.67298 13.3681 2.78359 13.4189 2.90544C13.4697 3.0273 13.4958 3.15801 13.4958 3.29002C13.4958 3.42203 13.4697 3.55274 13.4189 3.6746C13.3681 3.79646 13.2937 3.90706 13.2 4.00002L5 12.24Z' stroke='%23000001' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1552_21541'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.trash_icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 14 14' fill='none'%3E%3Cg clip-path='url(%23clip0_1552_21801)'%3E%3Cpath d='M13 6.49998C13.0006 5.47184 12.737 4.4608 12.2344 3.56385C11.7319 2.66691 11.0073 1.91414 10.1301 1.37777C9.253 0.841402 8.25275 0.539428 7.22533 0.500815C6.19792 0.462203 5.17783 0.688249 4.2629 1.15727C3.34798 1.62629 2.56892 2.32254 2.00048 3.17924C1.43203 4.03594 1.09326 5.02434 1.01667 6.04962C0.940083 7.0749 1.12824 8.10266 1.5631 9.03431C1.99795 9.96596 2.66491 10.7702 3.5 11.37V12.5C3.5 12.7652 3.60536 13.0195 3.79289 13.2071C3.98043 13.3946 4.23478 13.5 4.5 13.5H9.5C9.76522 13.5 10.0196 13.3946 10.2071 13.2071C10.3946 13.0195 10.5 12.7652 10.5 12.5V11.37C11.2731 10.8147 11.9031 10.0835 12.3378 9.23671C12.7725 8.38991 12.9995 7.45184 13 6.49998V6.49998Z' stroke='%23000001' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M4.5 7.5C4.77614 7.5 5 7.27614 5 7C5 6.72386 4.77614 6.5 4.5 6.5C4.22386 6.5 4 6.72386 4 7C4 7.27614 4.22386 7.5 4.5 7.5Z' stroke='%23000001' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.5 7.5C9.77614 7.5 10 7.27614 10 7C10 6.72386 9.77614 6.5 9.5 6.5C9.22386 6.5 9 6.72386 9 7C9 7.27614 9.22386 7.5 9.5 7.5Z' stroke='%23000001' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 11.5V13.5' stroke='%23000001' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 11.5V13.5' stroke='%23000001' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1552_21801'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.task_buttons {
  display: flex;
}

.input_button {
  display: flex;
}

.completed {
  color: var(--gray-300, #808080);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  text-decoration: line-through;
}
