.input {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--gray-700, #0d0d0d);
  background: var(--gray-500, #262626);

  color: var(--gray-300, #808080);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.createTodo {
  display: flex;
  width: 736px;
  align-items: center;
  gap: 8px;
}

.span_icon {
  display: flex;
}
